#about-us.page-hero-image {
  .page-image {
    background: url(../images/banner-about.jpg)center top no-repeat;
    background-size: cover;
  }
}

.content-wrapper{
  .page-title {
    padding-top: 20px;
   
  }

  ol {
    padding-left: 15px;
  }
}
