.btn-white,
.btn-blue,
.btn-gray {
  padding: 0.5em 1.25em;
  transition: all 0.3s ease-in;
}

.btn-blue {
  background-color: $main-blue;
  color: #ffffff;

  &:hover {
    color: $main-blue;
    background-color: $gray;
  }
}

.btn-white {
  background-color: #ffffff;
  color: $gray;

  &:hover {
    color: #ffffff;
    background-color: $main-blue;
  }
}

.btn-big {
  padding: 0.75em 1.25em;
  font-size: 1.25em;
}

.btn-gray {
  color: #ffffff;
  background-color: $gray;
  &:hover {
    color: #ffffff;
    background-color: $main-blue;
  }
}
