.btn-blue,
.btn-gray,
.btn-line-gray {
  padding: 0.5em 1.25em;
  font-family: $main-font;
  transition: all 0.3s ease-in;
  text-transform: uppercase;
}

.btn-blue {
  background-color: $main-blue;
  color: #ffffff;

  &:hover {
    color: $main-blue;
    background-color: $gray;
  }
}

.btn-big {
  padding: 0.75em 1.25em;
  font-size: 1.25em;
}

.btn-gray {
  color: #ffffff;
  background-color: $gray;
  &:hover {
    color: #ffffff;
    background-color: $main-blue;
  }
}

.btn-line-gray {
  color: $gray;
  border: solid 1px $gray;
  background: transparent;
  &:hover {
    color: #ffffff;
    background-color: $main-blue;
  }
}

