form {
  &.form-linestyle {
    label {
      margin-bottom: 0;
    }
    .form-control {
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: solid 1px #cecece;
      padding-top: 0;
      &:focus {
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: solid 1px #000;
      }
    }
  }
  .input-group {
    text-align: left;
    margin-bottom: 20px;
    label {
      width: 100%;
    }
    .form-control {
      border-radius: 0px;
    }
  }
  .form-control {
    border-color: #cecece;
    transition: all 0.3s ease-in;
    &:focus {
      outline: none;
      border: solid 1px #000000;
      box-shadow: none;
      transition: all 0.3s ease-out;
    }
    &::placeholder {
      color: $gray;
    }
    &.round-input {
      border-radius: 20px;
    }
  }
  select {
    padding: 0.5em 0.75em;
    &:focus {
      outline: none;
    }
  }
}
