#single-article.page-hero-image {
  .page-image {
    background: url(../images/banner-article.jpg)center top no-repeat;
    background-size: cover;
  }

  
}

.content-wrapper {
  p {
    margin-top: 1.5em;
    margin-bottom: 4em;
  }
}