#mice.page-hero-image {
  .page-image {
    background: url(../images/banner-mice.jpg)center top  no-repeat;
    background-size: cover;
  }
}

.content-wrapper {

  p {
    padding-top: 30px;
  }
  .text-center {
    padding-top: 20px;
  }
}