@import "../webfonts/fonts.css";

$main-blue: #53d3f4;
$gray: #686868;
$main-font: "libel suit", sans-serif;
$copy-font: "arialnarrow", sans-serif;

body {
  font-size: 16px;
  font-weight: 300;
  color: $gray;
  font-family: $copy-font;
}

ul {
  padding: 0;
  li {
    list-style: none;
  }
}

a {
  transition: all 0.3s ease-in;
  &:hover {
    transition: all 0.3s ease-out;
    color: $main-blue;
    text-decoration: none;
  }
}

button {
  border: none;
  &:focus {
    outline: none;
  }
}

.text-12 {
  font-size: 12px;
}

.text-14 {
  font-size: 14px;
}

.text-big {
  font-size: 54px;
}

.text-blue {
  color: $main-blue;
}

.page-link {
  color: #000000;
}

// Global Styling rules

.page-hero-image {
  position: relative;
  margin-top: -160px;
  .page-image {
    height: 400px;
    img {
      max-width: 100%;
    }
  }
  .page-title {
    font-size: 68px;
    font-weight: 500;
    color: #ffffff;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -70%);
    text-transform: uppercase;
  }
}

.content-padding {
  padding: 2em 0;
}

.no-padding{
  padding: 0; 
  margin: 0;
}
.full-height {
  height: 100%;
}

.liner {
  height: 3px;
  margin-bottom: 40px;
  position: relative;
  .liner-title {
    position: absolute;
    color: $gray;
    text-transform: uppercase;
    margin: auto;
    width: 100%;

    span {
      background-color: #ffffff;
      font-size: 32px;
      display: block;
      max-width: 30%;
      margin: -22px auto 0;
      text-align: center;
    }
  }
}

.modal-body {
  padding: 1rem 1.25rem;
}

.fullScreen-image {
  img {
    max-width: 100%;
  }
}

.font-main {
  font-family: $main-font;
}

@import "header-footer";
@import "homepage";
@import "about";
@import "button";
@import "form";
@import "event-detail";
@import "whats-new";
