@import "../webfonts/fonts.css";

$main-blue: #53d3f4;
$gray: #686868;
$main-font: "libel suit", sans-serif;
$copy-font: "arialnarrow", sans-serif;

body {
  font-size: 16px;
  font-weight: 300;
  color: $gray;
  font-family: $copy-font;
}

ul {
  padding: 0;
  li {
    list-style: none;
  }
}

a {
  transition: all 0.3s ease-in;
  &:hover {
    transition: all 0.3s ease-out;
    color: $main-blue;
    text-decoration: none;
  }
}

button {
  border: none;
  &:focus {
    outline: none;
  }
}

.text-12 {
  font-size: 12px;
}

.text-14 {
  font-size: 14px;
}

.text-big {
  font-size: 54px;
}

.text-blue {
  color: $main-blue;
}

.page-link {
  color: #000000;
}

// Global Styling rules

.page-hero-image {
  position: relative;
  margin-top: -140px;
  .page-image {
    height: 600px;
    img {
      max-width: 100%;
    }
  }
  .page-title {
    font-size: 68px;
    font-weight: 500;
    color: #ffffff;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -70%);
    text-transform: uppercase;
    font-family: $main-font;
  }
}

.content-padding {
  padding: 2em 0;
}

.no-padding {
  padding: 0;
  margin: 0;
}
.full-height {
  height: 100%;
}

.liner {
  height: 3px;
  margin-bottom: 40px;
  position: relative;
  .liner-title {
    position: absolute;
    color: $gray;
    text-transform: uppercase;
    margin: auto;
    width: 100%;

    span {
      background-color: #ffffff;
      font-size: 32px;
      display: block;
      max-width: 30%;
      margin: -22px auto 0;
      text-align: center;
    }
  }
}

.modal-body {
  padding: 1rem 1.25rem;
}

.fullScreen-image {
  img {
    max-width: 100%;
  }
}

.font-main {
  font-family: $main-font;
}

.post-image-container {
  .section-content {
    P {
      text-align: center;
    }
  }
  .section-title {
    font-family: $main-font;
    margin-bottom: 1.25em;
  }
  .post-image-item {
    position: relative;
    cursor: pointer;
    .post-image {
      margin: 2em 0 2em;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 350px;
      width: 100%;
      -webkit-filter: grayscale(70%);
      filter: 70%;
      transition: all 0.3s ease;
    }
    
    &:hover {
      .post-image {
        -webkit-filter: grayscale(0%);
        filter: 0%;
      }
    }
  }
  .post-title {
    text-transform: uppercase;
    font-family: $main-font;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: 22px;
    color: #ffffff;
  }
}

.tab-mobile-only {
  display: none;
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .tab-mobile-only {
    display: block;
  }
}
@media (max-width: 767px) {
  .desktop-only {
    display: none;
  }
  .tab-mobile-only {
    display: block;
  }
}

@import "header-footer";
@import "homepage";
@import "about";
@import "experience";
@import "button";
@import "form";
@import "single-article";
@import "event";
@import "mice";
@import "event-detail";
@import "whats-new";
@import "FAQ";
@import "TNC";
