@import "../webfonts/fonts.css";
body {
  font-size: 16px;
  font-weight: 300;
  color: #686868;
  font-family: "arialnarrow", sans-serif;
}

ul {
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  transition: all 0.3s ease-in;
}
a:hover {
  transition: all 0.3s ease-out;
  color: #53d3f4;
  text-decoration: none;
}

button {
  border: none;
}
button:focus {
  outline: none;
}

.text-12 {
  font-size: 12px;
}

.text-14 {
  font-size: 14px;
}

.text-big {
  font-size: 54px;
}

.text-blue {
  color: #53d3f4;
}

.page-link {
  color: #000000;
}

.page-hero-image {
  position: relative;
  margin-top: -140px;
}
.page-hero-image .page-image {
  height: 600px;
}
.page-hero-image .page-image img {
  max-width: 100%;
}
.page-hero-image .page-title {
  font-size: 68px;
  font-weight: 500;
  color: #ffffff;
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -70%);
  text-transform: uppercase;
  font-family: "libel suit", sans-serif;
}

.content-padding {
  padding: 2em 0;
}

.no-padding {
  padding: 0;
  margin: 0;
}

.full-height {
  height: 100%;
}

.liner {
  height: 3px;
  margin-bottom: 40px;
  position: relative;
}
.liner .liner-title {
  position: absolute;
  color: #686868;
  text-transform: uppercase;
  margin: auto;
  width: 100%;
}
.liner .liner-title span {
  background-color: #ffffff;
  font-size: 32px;
  display: block;
  max-width: 30%;
  margin: -22px auto 0;
  text-align: center;
}

.modal-body {
  padding: 1rem 1.25rem;
}

.fullScreen-image img {
  max-width: 100%;
}

.font-main {
  font-family: "libel suit", sans-serif;
}

.post-image-container .section-title {
  font-size: 30px;
  font-family: "libel suit", sans-serif;
}
.post-image-container .section-content P {
  text-align: center;
}
.post-image-container .section-title {
  font-family: "libel suit", sans-serif;
  margin-bottom: 1.25em;
}
.post-image-container .post-image-item {
  position: relative;
  cursor: pointer;
}
.post-image-container .post-image-item .post-image {
  margin: 2em 0 2em;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  width: 100%;
  -webkit-filter: grayscale(70%);
  filter: 70%;
  transition: all 0.3s ease;
}
.post-image-container .post-image-item:hover .post-image {
  -webkit-filter: grayscale(0%);
  filter: 0%;
}
.post-image-container .post-title {
  text-transform: uppercase;
  font-family: "libel suit", sans-serif;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-size: 22px;
  color: #ffffff;
}

.tab-mobile-only {
  display: none;
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .tab-mobile-only {
    display: block;
  }
}
@media (max-width: 767px) {
  .page-hero-image {
    text-align: center;
  }
  .page-hero-image .page-title {
    font-size: 38px;
  }
  .page-hero-image .page-image {
    height: 380px;
  }

  .desktop-only {
    display: none;
  }

  .tab-mobile-only {
    display: block;
  }
}
header {
  font-weight: bold;
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
}
header .logo-wrapper {
  background-color: #e6f2ff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
}
header .logo-wrapper img {
  max-height: 100px;
}
header .nav-wrapper {
  width: 100%;
  margin-right: -15px;
}
header .nav-wrapper ul {
  width: 70%;
  margin: 0 auto;
  justify-content: space-evenly;
}
header .nav-wrapper ul li {
  padding: 0 2em;
}
header .nav-wrapper ul li.icon-nav img {
  max-width: 15px;
  margin-right: 5px;
}
header .nav-wrapper ul li a {
  color: #ffffff;
  font-weight: 400;
  border: solid 1px #686868;
  background: rgba(0, 0, 0, 0.2);
  font-size: 24px;
  font-family: "libel suit", sans-serif;
  display: block;
  padding: 7px 30px;
  transition: all 3s ease-in;
}
header .nav-wrapper ul li a:hover {
  text-decoration: underline;
  transition: all 3s ease-out;
  color: #53d3f4;
}

.navigation-wrapper .tab-mobile-only {
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .navigation-wrapper .desktop-only {
    display: none;
  }
  .navigation-wrapper .mobileCloser {
    justify-content: right;
    align-self: center;
    padding-right: 40px;
  }
  .navigation-wrapper .logo-wrapper {
    justify-content: start;
  }
  .navigation-wrapper ul {
    padding: 10px 0;
    text-align: center;
  }
  .navigation-wrapper ul li {
    padding: 10px 0;
  }
}
@media (max-width: 767px) {
  .navigation-wrapper #humburgerBtn {
    padding-right: 30px;
  }
  .navigation-wrapper .mobileCloser {
    justify-content: right;
    align-self: center;
    padding-right: 40px;
  }
  .navigation-wrapper .logo-wrapper img {
    max-height: 50px;
  }
  .navigation-wrapper ul {
    padding: 10px 0;
    text-align: center;
  }
  .navigation-wrapper ul li {
    padding: 10px 0;
  }
  .navigation-wrapper .header-logo img {
    height: 25px;
  }
}

#humburgerBtn {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#humburgerBtn span {
  display: block;
  background: white;
  height: 3px;
  width: 20px;
  margin-bottom: 3px;
}
#humburgerBtn span:last-child {
  margin-bottom: 0;
}

#mobileNav {
  display: none;
  position: fixed;
  z-index: 999;
  background: #fff;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
#mobileNav .mobileCloser {
  font-size: 12px;
  text-align: right;
  padding-top: 5px;
}

footer {
  border-top: solid 5px #686868;
}
footer .footer-contact {
  font-size: 14px;
  color: #686868;
}
footer .footer-nav ul {
  justify-content: flex-start;
}
footer .footer-nav ul li a {
  color: #686868;
  font-size: 18px;
  display: block;
  padding: 0 10px;
  font-family: "libel suit", sans-serif;
  text-transform: uppercase;
}
footer .footer-nav ul li a:hover {
  color: #53d3f4;
}
footer .footer-nav ul li:first-child a {
  padding-left: 0;
}
footer .social-wrapper {
  display: flex;
  align-items: center;
}
footer .social-wrapper p {
  margin-bottom: 0;
  font-family: "libel suit", sans-serif;
  font-size: 18px;
  display: flex;
  flex: 1;
}
footer .social-wrapper ul {
  justify-content: flex-end;
  margin-bottom: 0;
}
footer .social-wrapper ul li a {
  color: #686868;
  padding: 0 5px;
}
footer .social-wrapper ul li a:hover {
  color: #53d3f4;
}
footer .social-wrapper ul li a i {
  font-size: 18px;
}
footer .social-wrapper ul li:first-child a {
  padding-left: 0;
}
footer .copyright {
  border-top: solid 1px #686868;
  padding: 1.5em 0;
  text-align: center;
  font-size: 12px;
  margin-top: 2em;
}
footer .copyright .img-footer-coming {
  max-width: 70px;
}
footer .newsletter-form {
  color: #686868;
  margin-bottom: 3em;
  margin-top: 2em;
}
footer .newsletter-form .btn-gray {
  padding: 0.25em 1.25em;
}

#hero-image {
  position: relative;
  margin-top: -160px;
}
#hero-image .button-icon-wrapper {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  margin: 0 auto;
  z-index: 6;
}
#hero-image .button-icon-wrapper .button-item {
  text-align: center;
}
#hero-image .button-icon-wrapper .button-item .button-icon {
  background: #fff;
  border-radius: 12px;
  padding: 1em;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;
}
#hero-image .button-icon-wrapper .button-item .button-icon img {
  max-height: 80px;
}
#hero-image .button-icon-wrapper .button-item .button-text {
  font-size: 2em;
  text-transform: capitalize;
  color: #fff;
  font-weight: 500;
}
@media (max-width: 767px) {
  #hero-image {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .content-padding {
    padding: 1em 0;
  }
}
.owl-dots {
  position: absolute;
  bottom: 32%;
  z-index: 4;
  text-align: center;
  width: 100%;
}
.owl-dots .owl-dot {
  margin: 0 5px;
}
.owl-dots .owl-dot:first-child {
  margin-left: 0;
}
.owl-dots .owl-dot span {
  width: 15px;
  height: 15px;
  display: block;
  border: solid 2px #ffffff;
  border-radius: 100%;
  -webkit-border-radius: 100%;
}
.owl-dots .owl-dot.active span {
  background: #ffffff;
}
@media (min-width: 1920px) {
  .owl-dots {
    bottom: 25%;
  }
}
@media (min-width: 1400px) and (max-width: 1900px) {
  .owl-dots {
    bottom: 28%;
  }
}

#cta-section {
  background: url(../images/cta-banner.png) left center no-repeat;
  background-size: cover;
  height: 350px;
}
#cta-section .cta-text {
  font-weight: bold;
  color: #ffffff;
  font-size: 48px;
  margin-bottom: 0.5em;
}

#social-section {
  padding: 4em 0 2em;
}

#home-video {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#home-video .video-holder img {
  width: 100%;
}
#home-video .text-big {
  font-family: "libel suit", sans-serif;
  font-size: 30px;
  padding-top: 30px;
}
#home-video .text-title {
  padding-top: 30px;
}

#home-services {
  background-size: cover !important;
  height: 600px;
}

#ig-feed .section-title {
  font-size: 30px;
  font-family: "libel suit", sans-serif;
  text-align: center;
}

#about-us.page-hero-image .page-image {
  background: url(../images/banner-about.jpg) center top no-repeat;
  background-size: cover;
}

.content-wrapper {
  padding-top: 60px;
  padding-bottom: 30px;
}
.content-wrapper .page-title {
  padding-top: 20px;
}
.content-wrapper ol {
  padding-left: 15px;
}

#experience.page-hero-image .page-image {
  background: url(../images/banner-exp.jpg) center top no-repeat;
  background-size: cover;
}

.btn-white,
.btn-blue,
.btn-gray {
  padding: 0.5em 1.25em;
  transition: all 0.3s ease-in;
}

.btn-blue {
  background-color: #53d3f4;
  color: #ffffff;
}
.btn-blue:hover {
  color: #53d3f4;
  background-color: #686868;
}

.btn-white {
  background-color: #ffffff;
  color: #686868;
}
.btn-white:hover {
  color: #ffffff;
  background-color: #53d3f4;
}

.btn-big {
  padding: 0.75em 1.25em;
  font-size: 1.25em;
}

.btn-gray {
  color: #ffffff;
  background-color: #686868;
}
.btn-gray:hover {
  color: #ffffff;
  background-color: #53d3f4;
}

form .input-group .form-control {
  border-radius: 0px;
}
form .form-control {
  border-color: #cecece;
  transition: all 0.3s ease-in;
}
form .form-control:focus {
  outline: none;
  border: solid 1px #000000;
  box-shadow: none;
  transition: all 0.3s ease-out;
}
form .form-control::placeholder {
  color: #686868;
}
form .form-control.round-input {
  border-radius: 20px;
}
form select {
  padding: 0.5em 0.75em;
}
form select:focus {
  outline: none;
}

#single-article.page-hero-image .page-image {
  background: url(../images/banner-article.jpg) center top no-repeat;
  background-size: cover;
}

#event.page-hero-image .page-image {
  background: url(../images/banner-event.jpg) center top no-repeat;
  background-size: cover;
}

#mice.page-hero-image .page-image {
  background: url(../images/banner-mice.jpg) center top no-repeat;
  background-size: cover;
}

#event-detail.page-hero-image .page-image {
  background: url(../images/banner-event2.jpg) center top no-repeat;
  background-size: cover;
}

#whats-new.page-hero-image .page-image {
  background: url(../images/banner-whatsnew.jpg) center top no-repeat;
  background-size: cover;
}

#Faq-page.page-hero-image .page-image {
  background: url(../images/banner-article.jpg) center top no-repeat;
  background-size: cover;
}

#Tnc.page-hero-image .page-image {
  background: url(../images/banner-about.jpg) center top no-repeat;
  background-size: cover;
}

/*# sourceMappingURL=style.css.map */
